{%extends "navbar.html"%}
<!DOCTYPE html>
<html lang="en">

<head>
    
    <style>
        body {
          background: #00b09b;
          background: -webkit-linear-gradient(to right, #00b09b, #96c93d);
          background: linear-gradient(to right, #00b09b, #96c93d);
          min-height: 100vh;
        }
    
        .text-gray {
          color: #aaa;
        }
      </style>
   
</head>

<body>
    {% block content %}
    <section style="background-color: #eee;">
        <div class="container py-5">
            {%for i in petobj%}
            <div class="col">
                <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                    <div class="card text-black">
                        <img class="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-product-cards/img1.webp" src="{{i.image.url}}"
                            class="card-img-top" alt="iPhone" />
                        <div class="card-body">
                            <div class="text-center mt-1">
                                <h4 class="card-title">NAME:{{i.name}}</h4>
                                <h6 class="text-primary mb-1 pb-3">PRICE:{{i.price}}</h6>
                            </div>

                            <div class="text-center">
                                <div class="p-3 mx-n3 mb-4" style="background-color: #eff1f2;">
                                    <h5 class="mb-0">DESCRIPTION:{{i.description}}</h5>
                                </div>



                                <div class="d-flex flex-column mb-4">
                                    <span class="h1 mb-0">AGE:{{i.age}}</span>
                                    <span>BREED: {{i.breed}}</span>
                                </div>

                                <div class="p-3 mx-n3 mb-4" style="background-color: #eff1f2;">
                                    <h5 class="mb-0">SPECIES: {{i.species}}</h5>
                                </div>

                                <div class="d-flex flex-column mb-4 lead">
                                    
                                    <span style="color: transparent;">0</span>
                                </div>
                            </div>

                            <div class="d-flex flex-row">
                                <button type="button" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-primary flex-fill me-1" data-mdb-ripple-color="dark">
                                    Show more 
                                </button>
                                <button type="button" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-danger flex-fill ms-1">Buy now</button>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </section>
    {% endblock %}
</body>

</html>